body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	display:flex;
	flex-flow:column;
	min-height:100vh;
	margin:0;
	background: #dddddd;
}

.centered {
	margin: 0 auto;
}

.centered-item {
	margin: 0 auto;
}

.centered-text {
	text-align: center;
}

.form-panel form ul.errorlist {
	display: none;
}

.error-message {
	color: red;
	background-color: bisque;
	padding: 10px;
	margin: 15px 15px;
	border: 1px solid red;
}

.success-message {
	color: green;
	background-color: #ccffcc;
	padding: 10px;
	margin: 15px 15px;
	border: 1px solid green;
}

.no-margin {
	margin: 0;
}

.login-btn-panel {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	font-size: 12px;
}

.btn-submit {
	background-color: #b35900;
    border: none;
	border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.btn-submit:hover {
	cursor: pointer;
	background-color: #994d00;
}

.small-form {
	max-width: 420px;
}

.form-panel {
	width: 100%;
	margin-top: 10vh;
	justify-content: center;
	min-width: 330px;
	background-color: white;
	padding: 35px;
	color: dimgray;
	border: 1px solid dimgray;
	font-size: 18px;
}

.form-panel > h1 {
	font-weight: bold;
}

.form-panel form {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	padding: 25px;
}

.form-panel form > input {
	height: 25px;
	margin-bottom: 20px;
	font-size: 16px;
	border-radius: 2px;
	border: 1px solid darkgray;
}

.form-panel form > label {
	width: 100%;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

#nadomestne-sestre > li {
	display: flex;
	flex-flow: column;
	align-items: baseline;
}

#nadomestne-sestre > li > label {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 5px;
	font-weight: normal;
}

#nadomestne-sestre > li:hover {
	background-color: #eee;
}

#nadomestne-sestre > li > label:hover, #nadomestne-sestre > li > form label:hover {
	cursor: pointer;
}

#nadomestne-sestre > li form {
	padding: 0;
	width: 98%;
	margin: 10px 10px 0 5px;
}

#nadomestne-sestre > li > form div {
	display: flex;
	justify-content: flex-end;
	margin: 5px 40px;
}

#nadomestne-sestre > li > form label {
	display: flex;
	align-items: baseline;
	margin-bottom: 3px;
	border-bottom: 1px solid #ddd
}

#nadomestne-sestre > li > form label:hover {
	background-color: #ddd;
}

.flex-full {
	flex-basis: 100%;
}

.flex-half {
	flex-basis: 50%;
}

.arrow-right {
	padding: 0;
	margin: 4px 20px 6px 10px;
	border-left: 8px solid #aaa;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.rotate-90 {
	transform: rotate(90deg)
}