body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	display:flex;
	flex-flow:column;
	min-height:100vh;
	margin:0;
	background: #dddddd;
}

.centered {
	margin: 0 auto;
    width: 50%;
    padding: 10px;
}

.centered-item {
	margin: 0 auto;
}

.centered-text {
	text-align: center;
}

.form-panel form ul.errorlist {
	display: none;
}

.error-message {
	color: red;
	background-color: bisque;
	padding: 10px;
	margin: 15px 15px;
	border: 1px solid red;
}

.success-message {
	color: green;
	background-color: #ccffcc;
	padding: 10px;
	margin: 15px 15px;
	border: 1px solid green;
}

.no-margin {
	margin: 0;
}

.login-btn-panel {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	font-size: 12px;
}

.btn-submit {
	background-color: #b35900;
    border: none;
	border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.btn-submit:hover {
	cursor: pointer;
	background-color: #994d00;
}

.form-panel {
	margin-top: 10vh;
	justify-content: center;
	max-width: 420px;
	min-width: 330px;
	background-color: white;
	padding: 35px;
	color: dimgray;
	border: 1px solid dimgray;
	font-size: 18px;
}

.form-panel form {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	padding: 25px;
}

.form-panel form > input {
	height: 25px;
	margin-bottom: 20px;
	font-size: 16px;
}