{% extends "patronaza/base.html" %}

{% block content %}
<div class="centered form-panel">
	<h1 class="centered-item centered-text">Sprememba gesla</h1>
	<form class="centered-item" method='POST' action='#'>
		{% csrf_token %}
		{{ passwordChangeForm.as_table }}
		<div class="login-btn-panel">
			<input class="btn-submit" type="submit" value="Spremeni" />
		</div>
	</form>
	{% if message|length > 0 %}
		{% if error %}
		<div class="error-message centered-item centered-text">
			<p class="no-margin">
				{{ message|linebreaksbr }}
			</p>
		</div>
		{% else %}
		<div class="success-message centered-item centered-text">
			<p class="no-margin">
				{{ message|linebreaksbr }}
			</p>
		</div>
		{% endif %}
	{% endif %}
</div>
{% endblock %}
