{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Patronažna služba</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'patronaza/css/style.css' %}">
  </head>

  <body>
	<div>
	<form method='POST' action='#'>
		{% csrf_token %}
		{{ loginForm.as_table }}
		<input type="submit" value="Login" />
	</form>
	<div class="error_message">
		<p>
			{{ errorMessage|linebreaksbr }}
		</p>
	</div>
		<a href={% url 'registracija' %}>Registracija</a>
	</div>
  </body>
</html>
