{% extends "./base.html" %}
{% load static %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <ul class="list-group" id="list">
        <li class="list-group-item">
            <label>Patronažna sestra</label>
            <select name = "sestra" id="sestra" required>
                <option value="">---------</option>
                {% for sestra in sestre %}
                    <option value="{{ sestra.sifra }}" {% if sestra1 and sestra.sifra == sestra1.sifra %} selected="selected" {% endif %}>{{ sestra.sifra }} {{ sestra }}</option>
                {% endfor %}
            </select>
        </li>
        <li class="list-group-item">
            <label>nadomestna patronažna sestra</label>
            <select name = "nadomestnaSestra" id="nadomestnaSestra" required>
                <option value="">---------</option>
                {% for sestra in sestre %}
                    <option value="{{ sestra.sifra }}" {% if sestra2 and sestra.sifra == sestra2.sifra %} selected="selected" {% endif %}>{{ sestra.sifra }} {{ sestra }}</option>
                {% endfor %}
            </select>
        </li>
        <li class="list-group-item">
            <label>Od</label>
            <input type="date" name="od" id="od" {% if datumOd %}value="{{ datumOd }}"{% endif %}  required>
        </li>
        <li class="list-group-item">
            <label>Do</label>
            <input type="date" name="do" id="do" {% if datumDo %}value="{{ datumDo }}"{% endif %} required>
        </li>
        {% if datum %}
            <li class="list-group-item">Datum ne sme biti v preteklosti</li>
        {% elif vecji %}
            <li class="list-group-item">Začetni datum mora biti manjši ali enak končnemu</li>
        {% endif %}
    </ul>
    <input type="submit" value="Dodeli" class="btn btn-info btn-lg">
</form>
{% endblock %}