{% extends "./base.html" %}
{% load static %}
{% block content %}

<h1>Obisk podrobnosti</h1>

    <div id="obiskPodrobnosti">
        <h3>PODATKI O MEDICINSKI SESTRI:</h3>
        {% if dodeljenoOsebje.id_nadomestna == NULL  %}
            <p>Medicinska sestra: <span>{{ dodeljenoOsebje.id_osebja.sifra }} - {{ dodeljenoOsebje.id_osebja.ime }} {{ dodeljenoOsebje.id_osebja.priimek }}</span></p>
            <p>Vloga medicinske sestre: zadolžena</p>
        {% else %}
            <p> <span class="imeVrednosti">Medicinska sestra:</span> <span class="value">{{ dodeljenoOsebje.id_nadomestna.sifra }} - {{ dodeljenoOsebje.id_nadomestna.ime }} {{ dodeljenoOsebje.id_nadomestna.priimek }}</span></p>
            <p> <span class="imeVrednosti">Vloga medicinske sestre:</span> <span class="value">nadomestna</span></p>
        {% endif %}

        <h3>PACIENTI:</h3>
        {% for pacient in pacienti %}
            {% if pacient.id_pacient.razmerje_ur.naziv == 'mati' %}
                <p><span class="imeVrednosti">Pacient:</span> <span class="value">{{ pacient.id_pacient.ime }} {{ pacient.id_pacient.priimek }}, mati</span></p>
            {% else %}
                <p><span class="imeVrednosti">Pacient:</span> <span class="value">{{ pacient.id_pacient.ime }} {{ pacient.id_pacient.priimek }}</span></p>
            {% endif %}
        {% endfor %}

        <h3>INFORMACIJE O OBISKU:</h3>
            <p> <span class="imeVrednosti">Pripadajoč delovni nalog:</span> <span class="value"><a href="{% url 'delovniNalogPodrobno' delovniNalogId=obisk.id_dn.id %}">{{ obisk.id_dn.id }}</a></span></p>
            <p> <span class="imeVrednosti">Zaporedna številka obiska:</span> <span class="value">{{ obisk.zaporedna_st_obiska }}. obisk</span></p>
            <p> <span class="imeVrednosti">Status obiska:</span> <span class="value">{{ obisk.status_obiska.naziv }}</span></p>

            <p> <span class="imeVrednosti">Datum obiska:</span> <span class="value">{{ obisk.datum_obiska | date:"d.m.Y" }}</span></p>
            <p> <span class="imeVrednosti">Podrobnosti:</span> <span class="value">{{ obisk.podrobnosti_obiska }}</span></p>

        <h3>PRIDOBLJENI PODATKI:</h3>

        {% if ostaliPodatki.count > 0 %}
            {% if obisk.id_dn.id_vrsta.naziv == 'obisk nosečnice' %}
                <h4>PODATKI NOSEČNICE:</h4>
                <table class="podatkiOtrocnice">
                    <tr>
                        <th>Aktivnost</th>
                        <th>Naziv podatkov</th>
                        <th>Podatki</th>
                    </tr>

                    {% for podatek in ostaliPodatki %}
                        {% if podatek.id_podatki_aktivnosti.id_aktivnost.storitev == 10 %}
                            <tr aktivnost="{{ podatek.id_podatki_aktivnosti.id_aktivnost.aktivnost }}">
                                <td>
                                    {{ podatek.id_podatki_aktivnosti.id_aktivnost.aktivnost }}
                                </td>
                                <td>
                                    {{ podatek.id_podatki_aktivnosti.id_vrsta_podatka.naziv }}
                                </td>
                                <td>
                                    {{ podatek.vrednost }}
                                    {% if podatek.id_podatki_aktivnosti.id_vrsta_podatka.enote != None %}
                                        {{ podatek.id_podatki_aktivnosti.id_vrsta_podatka.enote }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                </table>

            {% endif %}
            {% if obisk.id_dn.id_vrsta.naziv == 'obisk otročnice in novorojenčka' %}
                <h4>PODATKI OTROČNICE:</h4>
                <table class="podatkiOtrocnice">
                    <tr>
                        <th>Aktivnost</th>
                        <th>Naziv podatkov</th>
                        <th>Podatki</th>
                    </tr>

                    {% for podatek in ostaliPodatki %}
                        {% if podatek.id_podatki_aktivnosti.id_aktivnost.storitev == 20 %}
                            <tr aktivnost="{{ podatek.id_podatki_aktivnosti.id_aktivnost.aktivnost }}">
                                <td>
                                    {{ podatek.id_podatki_aktivnosti.id_aktivnost.aktivnost }}
                                </td>
                                <td>
                                    {{ podatek.id_podatki_aktivnosti.id_vrsta_podatka.naziv }}
                                </td>
                                <td>
                                    {{ podatek.vrednost }}
                                    {% if podatek.id_podatki_aktivnosti.id_vrsta_podatka.enote != None %}
                                        {{ podatek.id_podatki_aktivnosti.id_vrsta_podatka.enote }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                </table>

                <h4>PODATKI NOVOROJENČKA:</h4>
                <table class="podatkiNovorojencka">
                    <tr>
                        <th>Aktivnost</th>
                        <th>Naziv podatkov</th>
                        <th>Podatki</th>
                    </tr>

                    {% for podatek in ostaliPodatki %}
                        {% if podatek.id_podatki_aktivnosti.id_aktivnost.storitev == 30 %}
                             <tr aktivnost="{{ podatek.id_podatki_aktivnosti.id_aktivnost.aktivnost }}">
                                <td>
                                    {{ podatek.id_podatki_aktivnosti.id_aktivnost.aktivnost }}
                                </td>
                                <td>
                                    {{ podatek.id_podatki_aktivnosti.id_vrsta_podatka.naziv }}
                                </td>
                                <td>
                                    {{ podatek.vrednost }}
                                    {% if podatek.id_podatki_aktivnosti.id_vrsta_podatka.enote != None %}
                                        {{ podatek.id_podatki_aktivnosti.id_vrsta_podatka.enote }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                </table>

            {% endif %}
            {% if obisk.id_dn.id_vrsta.naziv == 'preventiva starostnika' %}
                <h4>PODATKI STAROSTNIKA:</h4>
                <table class="podatkiOtrocnice">
                    <tr>
                        <th>Aktivnost</th>
                        <th>Naziv podatkov</th>
                        <th>Podatki</th>
                    </tr>

                    {% for podatek in ostaliPodatki %}
                        {% if podatek.id_podatki_aktivnosti.id_aktivnost.storitev == 40 %}
                            <tr aktivnost="{{ podatek.id_podatki_aktivnosti.id_aktivnost.aktivnost }}">
                                <td>
                                    {{ podatek.id_podatki_aktivnosti.id_aktivnost.aktivnost }}
                                </td>
                                <td>
                                    {{ podatek.id_podatki_aktivnosti.id_vrsta_podatka.naziv }}
                                </td>
                                <td>
                                    {{ podatek.vrednost }}
                                    {% if podatek.id_podatki_aktivnosti.id_vrsta_podatka.enote != None %}
                                        {{ podatek.id_podatki_aktivnosti.id_vrsta_podatka.enote }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                </table>

            {% endif %}
            {% if obisk.id_dn.id_vrsta.naziv == 'aplikacija injekcij' %}
                <h4>APLIKACIJA INJEKCIJ:</h4>
                <table class="podatkiOtrocnice">
                    <tr>
                        <th>Aktivnost</th>
                        <th>Naziv podatkov</th>
                        <th>Podatki</th>
                    </tr>

                    {% for podatek in ostaliPodatki %}
                        {% if podatek.id_podatki_aktivnosti.id_aktivnost.storitev == 50 %}
                            <tr aktivnost="{{ podatek.id_podatki_aktivnosti.id_aktivnost.aktivnost }}">
                                <td>
                                    {{ podatek.id_podatki_aktivnosti.id_aktivnost.aktivnost }}
                                </td>
                                <td>
                                    {{ podatek.id_podatki_aktivnosti.id_vrsta_podatka.naziv }}
                                </td>
                                <td>
                                    {{ podatek.vrednost }}
                                    {% if podatek.id_podatki_aktivnosti.id_vrsta_podatka.enote != None %}
                                        {{ podatek.id_podatki_aktivnosti.id_vrsta_podatka.enote }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                </table>

            {% endif %}
            {% if obisk.id_dn.id_vrsta.naziv == 'odvzem krvi' %}
                <h4>ODVZEM KRVI:</h4>
                <table class="podatkiOtrocnice">
                    <tr>
                        <th>Aktivnost</th>
                        <th>Naziv podatkov</th>
                        <th>Podatki</th>
                    </tr>

                    {% for podatek in ostaliPodatki %}
                        {% if podatek.id_podatki_aktivnosti.id_aktivnost.storitev == 60 %}
                            <tr aktivnost="{{ podatek.id_podatki_aktivnosti.id_aktivnost.aktivnost }}">
                                <td>
                                    {{ podatek.id_podatki_aktivnosti.id_aktivnost.aktivnost }}
                                </td>
                                <td>
                                    {{ podatek.id_podatki_aktivnosti.id_vrsta_podatka.naziv }}
                                </td>
                                <td>
                                    {{ podatek.vrednost }}
                                    {% if podatek.id_podatki_aktivnosti.id_vrsta_podatka.enote != None %}
                                        {{ podatek.id_podatki_aktivnosti.id_vrsta_podatka.enote }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                </table>

            {% endif %}
            {% if obisk.id_dn.id_vrsta.naziv == 'kontrola zdravstvenega stanja' %}
                <h4>KONTROLA ZDRAVSTVNEGA STANJA:</h4>
                <table class="podatkiOtrocnice">
                    <tr>
                        <th>Aktivnost</th>
                        <th>Naziv podatkov</th>
                        <th>Podatki</th>
                    </tr>

                    {% for podatek in ostaliPodatki %}
                        {% if podatek.id_podatki_aktivnosti.id_aktivnost.storitev == 70 %}
                            <tr aktivnost="{{ podatek.id_podatki_aktivnosti.id_aktivnost.aktivnost }}">
                                <td>
                                    {{ podatek.id_podatki_aktivnosti.id_aktivnost.aktivnost }}
                                </td>
                                <td>
                                    {{ podatek.id_podatki_aktivnosti.id_vrsta_podatka.naziv }}
                                </td>
                                <td>
                                    {{ podatek.vrednost }}
                                    {% if podatek.id_podatki_aktivnosti.id_vrsta_podatka.enote != None %}
                                        {{ podatek.id_podatki_aktivnosti.id_vrsta_podatka.enote }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                </table>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
