{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>TPO Patronažna služba - Domov</title>
	<link rel="stylesheet" type="text/css" href="{% static 'TPO_app/style.css' %}">
	<meta charset="utf-8">
</head>
<body>
	<header>
		<a href="{% url 'index' %}"><img src="#" alt="LOGO" ></a>
		
	</header>
	
	<nav>
		<ul>
			<li onclick="location='{% url 'index' %}'">Domov</li>
			<li onclick="location='{% url 'osebjeAdd' %}'">Dodaj osebje</li>
		</ul>
		
	</nav>
	<div class="centered-content" id="main">
		
{% block content %}
{% endblock %}
	</div>
	<footer >
		Avtor: Denis Fidel<br>
		Kontakt: denis.fidel12@gmail.com

	</footer>

</body>
</html>